body{
	font: normal  "DroidSansBold", Verdana, sans-serif;
	letter-spacing: 3px;
}
.center{
	text-align: center;
}
.title{
	text-shadow: 2px 2px 5px #000;
	font: bold 6	0px "DroidSansBold", Verdana, sans-serif;
	text-transform: uppercase;
	color: #787871;
	letter-spacing: 3px;
}
.next{
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background: #a4b183;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#A4B183), to(#C2D19B));
	background-image: -moz-linear-gradient(19% 75% 90deg, #A4B183, #C2D19B);
}

.options {
	color: #717165;

	-webkit-border-top-right-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottonright: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;

	-webkit-transition: width 0.3s linear, background 0.2s ease;
	-moz-transition: width 0.3s linear, background 0.2s ease;
	-o-transition: width 0.3s linear, background 0.2s ease;
	transition: width 0.3s linear, background 0.2s ease;
}

.options:hover {
	width: 700px;
	background: #d0d0c6;
	background: rgba(208, 208, 198, .5);
}


